/* static/css/styles.css */

/* Color de fondo general */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Footer pegado abajo siempre */
.footer {
  background-color: #78c2ad !important;
  color: white !important;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.navbar-custom {
  background-color: #78c2ad !important; /* Verde exacto para el navbar */
}

.navbar {
  transition: all 0.3s ease-in-out;
}
.navbar .nav-link {
  font-size: 1.1rem;
  padding: 10px 15px;
}
.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.navbar .btn {
  font-size: 1rem;
  padding: 8px 15px;
}

.text-green {
  color: #78c2ad !important;
  border-color: #78c2ad !important;
}
.text-green:hover {
  background-color: #78c2ad !important;
  color: white !important;
}

.social-icons a {
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2);
}

  
/* Ejemplo de override de .btn-success a un verde distinto */
.btn-success {
  background-color: #6ac19b !important;
  border-color: #62ac8d !important;
}

.btn-success:hover {
  background-color: #5dae8a !important;
  border-color: #539978 !important;
}

  /* Evita que el botón se vea afectado por el enlace */
.toggle-btn {
  position: relative;
  z-index: 10;
}



  
  