{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h2>Bienvenido, Dueño</h2>
    <p>Aquí puedes gestionar tus estacionamientos y ver reportes.</p>
    
    <!-- Enlaces típicos de un dueño -->
    <a href="{% url 'crear_estacionamiento' %}" class="btn btn-primary">Crear Estacionamiento</a>
    <a href="{% url 'mis_reservas' %}" class="btn btn-success">Mis Reservas</a>
    <a href="{% url 'reporte_transacciones' %}" class="btn btn-success">Mis Transacciones</a>
    
    <!-- Podrías mostrar también la lista de estacionamientos del dueño aquí, etc. -->
  </div>
</div>
{% endblock %}
